body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #091428, #0A1428); /* Gradient background */
  color: #17a9e2; /* Yellow text color */
  margin: 0; /* Remove default margin */
  padding: 1; /* Remove default padding */
}


.App {
  text-align: left;
  min-height: 100vh; /* Ensure the background covers the entire viewport */
}

.App-header {
  background-color: #282c34; /* Dark gray header background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb; /* Light blue link color */
}

.input-container {
  margin-top: 30px; /* Add margin between the button and the inputs */
}

/* Remove the logo animation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none;
  }
}
