body {
    margin: 0;
}

.About {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Team {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    flex-grow: 1;
}

.Team-member {
    width: 30%;
    margin: 0 10px;
    text-align: center;
}

.Team-member h4 {
    color: #F0E6D2;
    font-family: 'Beaufort-Bold', sans-serif;
    font-size: 20px;
}

.Team-member h3 {
    font-family: 'Beaufort-Bold', sans-serif;
    font-size: 28px;
}

.Team-member p{
    font-family: 'Spiegel', sans-serif;
}

.pic {
    width: 100%;
    border-radius: 50%;
    height: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(26, 140, 216);
    position: relative;
    transition: transform 0.3s ease;
}

.pic img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.pic:hover {
    transform: translateY(-5px);
  }

.circle-container {
    position: absolute;
    bottom: 12%;
    right: 18%;
    transform: translate(50%, 50%);
    justify-content: center;
    display: flex;
    align-items: center;
    width: 75px;
    height: 75px;
}

.circle {
    width: 75px;
    height: 75px;
    background-color: #010A13;
    color: white;
    font-size: 32px;
    border-radius: 50%;
    z-index: 2;
    line-height: 75px;
}

@media (max-width: 1024px) {
    .Team-member {
      width: 45%;
    }
}

@media (max-width: 768px) {
    .Team-member {
      width: 90%;
      margin: 10px auto;
    }
}

.About-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: "Trebuchet MS";
    width: 100%;
}

a {
    text-decoration: none;
}

.about-header h1{
    color: #d9af36;
}