body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #091428, #0A1428); 
  background-color: #091428;
  color: #c89b3c; 
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  max-height: 100vh; /* Ensure the background covers the entire viewport */
}

.App-name{
  margin-top: 18%;
  font-size: 40px;
  margin-bottom: -30px;
}

.App-header {
  background-color: #01040a; /* Dark gray header background */
  display: flex;
  height: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  list-style-type: none;
}

.App-header .left-links {
  font-size: 20px;
  display: flex;
  gap: 50px;
  /* background: red; */
  list-style-type: none;
  justify-content: space-between;
  margin-right: auto;
}

.App-header .right-links {
  font-size: 20px;
  display: flex;
  list-style-type: none;
  gap: 50px;
  color: #c89b3c;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 35px;
}

.App-header a {
  text-decoration: none;
  color: #c89b3c;
}

.App-link {
  color: #61dafb; /* Light blue link color */
}

.input-container {
  margin-top: 30px; /* Add margin between the button and the inputs */
}

.StyledInput{
  padding: 10px;
  border: 2px solid #091428;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  color: #5B5A56;
  background-color: #fff;
  margin-bottom: 10px;
}

.StyledButton{
  padding: 10px 20px;
  background-color: #c89b3c;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #091428;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* Remove the logo animation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none;
  }
}