body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #091428, #0A1428); /* Gradient background */
<<<<<<< HEAD:client/src/App.css
  color: #17a9e2; /* Yellow text color */
  margin: 10px auto; /* Remove default margin */
  display: flex;
  justify-content: center;
  /* padding: 0px; */
=======
  background-color: #091428;
  color: #c89b3c; /* Yellow text color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
>>>>>>> main:client/src/styles/App.css
  text-align: center;
}


.App {
<<<<<<< HEAD:client/src/App.css
  text-align: center;
  min-height: 100vh; /* Ensure the background covers the entire viewport */
=======
  min-height: fit-content; /* Ensure the background covers the entire viewport */
}

.App-name{
  margin-top: 18%;
  font-size: 32px;
  margin-bottom: -30px;
>>>>>>> main:client/src/styles/App.css
}

.App-header {
  background-color: #000000; /* Dark gray header background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: calc(10px + 2vmin);
}

.homelinks {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-right: 20px;
  text-decoration: none;
}

.homelinks a {
  text-decoration: none;
  color: #0e9bec;
}

.App-link {
  color: #61dafb; /* Light blue link color */
}

.input-container {
  margin-top: 30px; /* Add margin between the button and the inputs */
}

.StyledInput{
  padding: 10px;
  border: 2px solid #091428; /* Gold border */
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  font-size: 16px;
  color: #5B5A56; /* Grey text color */
  background-color: #fff; /* White background */
  margin-bottom: 10px;
}

.StyledButton{
  padding: 10px 20px;
  background-color: #c89b3c; /* Gold background */
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff; /* White text color */
  cursor: pointer;
}

/* Remove the logo animation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: none;
  }
}
