.champion {
    display: inline-block;
    margin: 20px;
    background-color: #01040a;
    border: 5px solid #c89b3c;
    overflow: hidden;
    width: 300px;
    vertical-align: top; 
  }
  
  .champion-img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 250px;
  }
  
  .champion-info {
    position: relative;
    background-color: rgba(1, 4, 10, 0.85);
    color: #c89b3c;
    padding: 15px;
    height: 200px;
    overflow: auto;
  }
  
  .champion-name {
    font-size: 20px;
    margin: 10px 0 5px;
  }
  
  .champion-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .champion-lore {
    font-size: 16px;
  }
  