body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eaeaea;
    margin: 0;
}

.modes-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 40px;
}

.mode-box {
    background-color: #ffffff00;
    border-radius: 8px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.mode-box:hover {
    transform: translateY(-5px);
}

.mode-image {
    width: 200px;
    height: 200px;
}

.mode-header {
    font-size: 24px;
    color: #333;
    padding: 20px;
}

.mode-box p {
    font-size: 16px;
    color: #666;
    padding: 0 20px 20px;
    margin: 0;
    line-height: 1.6;
}
