.mode-map {
    float: left;
    padding-left: 4%;
    padding-top: 7.5%;
    width: 30%; 
    height: auto; 
    max-width: 100%;
}

.mode-gameplay {
    float: left;
    padding-left: 4%;
    padding-top: 11%;
    width: 30%; 
    height: auto; 
    max-width: 100%;
}

.mode-subtitle-1 {
    font-size: 36px;
    font-family: 'Beaufort-Bold', sans-serif;
    padding-top: 7%;
    padding-left: 5%;
}

.mode-subtitle-2 {
    font-size: 36px;
    font-family: 'Beaufort-Bold', sans-serif;
    padding-top: 3%;
    padding-left: 5%;
}

.mode-description {
    font-family: 'Spiegel', sans-serif;
    font-size: 20px;
    padding-left: 35%;
    margin: 2%;
    color: antiquewhite;
}